.perfectPlace_wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
}

.perfect_pg_wrap {
    padding-left: 20px;
    max-width: 400px;
}

.perfect_img {
    max-width: 700px;
}


/* .title2 {
    font-size: 30px;
    padding-bottom: 35px;
} */

.perfect_pg {
    padding-bottom: 15px;
}

.view {
    background-color: #f24822;
    max-width: 100px;
    height: 40px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .view_pg {
        color: #fff;
        background-color: transparent;
        border: none;
    }
}

.next {
    padding-bottom: 140px;
    position: relative;
    right: 20px;
    width: 35px;
}

.images {
    width: 30%;
}